<tabset>
	<tab heading="Config">
		<div container="container-fluid">
			<form>
				<div class="col-xs-12 col-md-6 col-lg-4">
					<div class="form-group">
						<label for="containerId">Id</label>
						<input class="form-control" id="containerId" placeholder="Id" ng-model="container.Id" disabled>
						<label for="containerName">Name</label>
						<input class="form-control" id="containerName" placeholder="Name" ng-model="container.Name">
						<label for="containerImage">Image</label>
						<input class="form-control" id="containerImage" placeholder="Image" ng-model="containerImage">
						<label for="containerCmd">Cmd</label>
						<input class="form-control" id="containerCmd" placeholder="Cmd" ng-model="container.Config.Cmd">
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-4">
					<div class="form-group">
						<label for="containerIp">IP Address</label>
						<input class="form-control" id="containerIp" placeholder="Ip" ng-model="container.NetworkSettings.IPAddress" disabled>
						<label for="containerHostname">Hostname</label>
						<input class="form-control" id="containerHostname" placeholder="Hostname" ng-model="container.Config.Hostname" disabled>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-4">
					<div class="form-group">
						<label>Environment</label>
						<small><a ng-click="container.Config.Env.push('')">Add</a></small>
						<div class="input-group" ng-repeat="e in container.Config.Env">
							<input type="text" class="form-control" placeholder="key=value" ng-model="container.Config.Env[$index]">
							<span class="input-group-addon glyphicon glyphicon-remove" id="basic-addon1"></span>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-4">
					<div class="form-group">
						<label>Volumes</label>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-4">
					<div class="form-group">
						<label>Links</label>
					</div>
				</div>
				<div class="col-xs-12 col-md-12 col-lg-12">
					<button type="button" class="btn btn-success" ng-click="startContainer()" ng-disabled="container.State.Running">
						Start
					</button>
					<button type="button" class="btn btn-danger" ng-click="stopContainer()" ng-disabled="!container.State.Running">
						Stop
					</button>
					<button type="button" class="btn btn-danger" ng-disabled="!container.State.Running">
						Restart
					</button>
					<button type="button" class="btn btn-danger" ng-click="deleteContainer()">Delete</button>
					<button type="button" class="btn btn-danger" ng-click="reloadContainer()">Apply</button>
				</div>
			</form>
		</div>
	</tab>
	<tab heading="Console" disabled="!consoleAvailable">
		Console output goes here
	</tab>
	<!--tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
		{{tab.content}}
	</tab-->
	<tab heading="Debug">
		<div>{{container}}</div>
	</tab>
</tabset>
