<!DOCTYPE html>
<html lang="en" ng-app="docker-ui">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Docker UI</title>
	<script src="vendor/angular.min.js"></script>
	<script src="vendor/angular-touch.min.js"></script>
	<script src="vendor/angular-route.min.js"></script>
	<script src="vendor/ui-bootstrap-tpls-0.12.0.min.js"></script>
	<script src="app.js"></script>
	<script src="docker.js"></script>

	<link href="vendor/bootstrap.min.css" rel="stylesheet"/>
	<link href="index.css" rel="stylesheet"/>

	<script type="text/ng-template" id="main">
<div class="container-fluid">
	<div class="col-md-2 sidebar">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand">Docker UI</a>
				<button type="button" class="navbar-toggle" ng-click="menuCollapsed = !menuCollapsed">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" collapse="menuCollapsed">
				<input type="text" class="form-control" placeholder="Search">
				<ul class="nav nav-stacked" ng-repeat="s in servers">
					<li ng-class="{active: s.Id == server.Id}">
						<a href="#{{s.Id}}">{{s.Id}}</a>
					</li>
					<li>
						<ul class="nav nav-stacked sub-menu">
							<li>
								<a href="#{{s.Id}}/new">New...</a>
							</li>
							<li ng-repeat="c in s.containers" ng-class="{active: c.Id == container.Id}">
								<a href="#{{s.Id}}/{{c.Id}}">{{c.Name}}</a>
							</li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>

	</div><!--/end left column-->

	<div class="col-md-10" ng-show="container.Id && server.Id">
		<tabset>
			<tab heading="Config">
				<div container="container-fluid">
					<form>
						<div class="col-xs-12 col-md-6 col-lg-4">
							<div class="form-group">
								<label for="containerId">Id</label>
								<input  class="form-control" id="containerId" placeholder="Id" ng-model="container.Id" disabled>
								<label for="containerName">Name</label>
								<input  class="form-control" id="containerName" placeholder="Name" ng-model="container.Name">
								<label for="containerImage">Image</label>
								<input class="form-control" id="containerImage" placeholder="Image" ng-model="containerImage">
							</div>
						</div>
						<div class="col-xs-12 col-md-6 col-lg-4">
							<div class="form-group">
								<label for="containerIp">IP Address</label>
								<input  class="form-control" id="containerIp" placeholder="Ip" ng-model="container.NetworkSettings.IPAddress" disabled>
							</div>
						</div>
						<div class="col-xs-12 col-md-12 col-lg-12">
							<button type="button" class="btn btn-success" ng-click="startContainer()" ng-disabled="container.State.Running">
								Start
							</button>
							<button type="button" class="btn btn-danger" ng-click="stopContainer()" ng-disabled="!container.State.Running">
								Stop
							</button>
							<button type="button" class="btn btn-danger" ng-disabled="!container.State.Running">
								Restart
							</button>
							<button type="button" class="btn btn-danger" ng-click="deleteContainer()">Delete</button>
						</div>
					</form>
				</div>
			</tab>
			<tab heading="Console" disabled="!consoleAvailable">
				Console output goes here
			</tab>
			<!--tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
				{{tab.content}}
			</tab-->
		</tabset>
	</div>
	<div class="col-md-10" ng-show="server.Id && !container.Id">
		<tabset>
			<tab heading="Server">
				<div container="container-fluid">
					<form>
						<div class="col-xs-12 col-md-6 col-lg-4">
							<div class="form-group">
								<label for="port">Port</label>
								<input  class="form-control" id="port" placeholder="Port" value="8080">
							</div>
						</div>
					</form>
				</div>
			</tab>
			<tab heading="Containers">
				<table class="table table-striped">
					<tr>
						<th>Container ID</th>
						<th>Image</th>
						<th>Command</th>
						<th>Created</th>
						<th>Status</th>
						<th>Ports</th>
						<th>Names</th>
					</tr>
					<tr ng-repeat="container in server.containers">
						<td>{{container.Id}}</td>
						<td>{{findImageById(server.images, container.Image)}}</td>
						<td>{{container.Config.Cmd.join(" ")}}</td>
						<td>{{container.Created}}</td>
						<td>TODO</td>
						<td>TODO</td>
						<td>{{container.Name}}</td>
					</tr>
				</table>
			</tab>
			<tab heading="Images" disabled="true">
			</tab>
			<tab heading="Users" disabled="true">
			</tab>
		</tabset>
	</div>
	<div class="col-md-10" ng-show="!container.Id && !server.Id">
		Select a container from the left.
	</div>
</div>
	</script>

</head>

<body class="ng-cloak" ng-view>

</body>
<html>
